#map-canvas {
    width: 100vw;
    height: 87vh;
    padding: 15px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #112636;
    font-size: large;
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.user_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.member_image {
    width: 100px;
    height: 100px;
}