    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel With Friends App</title>
    <link rel="shortcut icon" href="{% static "img/twf.io.png" %}" type="image/x-icon">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <link href='{% static "css/site.css" %}' type="text/css" rel="stylesheet">
</head>
<body>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
        In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form action="/accounts/login/" method="post">
                {% csrf_token %}
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" name="username" class="input" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" name="password" class="input" data-type="password" required>
                    </div>
                    <br>
                    <br>
{#                    <div class="group">#}
{#                        <input id="check" type="checkbox" class="check" checked>#}
{#                        <label for="check"><span class="icon"></span> Keep me Signed in</label>#}
{#                    </div>#}
                    <div class="group">
                        <input type="submit" name="login" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot_page.html" name="forgot_password">Forgot Password?</a>
                    </div>
                </div>
            </form>
            <form action="/accounts/register/" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        {{ form.password1 }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        {{ form.password2 }}
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Mobile Number</label>
                        {{ form.phone }}
                    </div>
{#                    <div class="group">#}
{#                        <label for="pass" class="label">Email</label>#}
{#                        {{ form.email }}#}
{#                    </div>#}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    <div class="group">
                        <input type="submit" name="register" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</form>
</body>
</html>
